<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>维基百科 - Wikipedia - 镜像站</title>
		<meta name="description" content="维基百科 - Wikipedia - 镜像站">
		<meta name="keywords" content="维基百科, Wikipedia, 中文维基百科, 维基镜像, 维基百科中文镜像">
		<style type="text/css">
			div{ font-size: 16px; text-align: center; }
			#div1 span{ margin: 15px; width: 100px;}
		</style>
	</head>
	<body style="max-width: 728px;margin:0 auto">
		<div style="margin-top: 40px">
			<img style="width:180px" src="https://cdn.jsdelivr.net/gh/wikimirror/wikimirror/300px-Wikipedia-logo.png">
		</div>

		{{ content }}

		<div>
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9312750344484857" crossorigin="anonymous"></script>
			<ins class="adsbygoogle"
				 style="display:block;max-width: 980px;margin:0 auto"
				 data-ad-client="ca-pub-9312750344484857"
				 data-ad-slot="2669241897"
				 data-ad-format="auto"
				 data-full-width-responsive="true"></ins>
			<script>
					 (adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
<!--
		<div style="display: none; overflow: hidden; text-align: center;">
  		<script src="https://static.adxadserv.com/js/adb.js" type="text/javascript" data-adxad-place="621f2f3461d6e260d55ec0c2" async></script><div id="621f2f3461d6e260d55ec0c2" data-width="728" data-height="90" data-output="html"></div>
  		<script src="https://static.adxadserv.com/js/adb.js" type="text/javascript" data-adxad-place="621ebd4d61d6e277491eb554" async></script><div id="621ebd4d61d6e277491eb554" data-width="300" data-height="100" data-output="html"></div>
  		<script src="https://static.adxadserv.com/js/adb.js" type="text/javascript" data-adxad-place="621f2f7c61d6e260d80557b1" async></script><div id="621f2f7c61d6e260d80557b1" data-width="300" data-height="250" data-output="html"></div>
		</div>
-->
		<script type="text/javascript">
			!function(){var t=document.createElement("script");function a(){dataLayer.push(arguments)}t.src="https://www.googletagmanager.com/gtag/js?id=UA-195431371-1",t.setAttribute("async",!0),document.head.appendChild(t),window.dataLayer=window.dataLayer||[],a("js",new Date),a("config","UA-195431371-1")}();var _hmt=_hmt||[];!function(){var t=document.createElement("script");t.src="https://hm.baidu.com/hm.js?1b45f04480c6b73a5bae172f5b92f3e5",t.setAttribute("async",!0),document.head.appendChild(t)}();
		</script>
	</body>
</html>
